@tailwind base;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  @apply bg-gray-100 text-gray-900 overflow-y-scroll;
}
select {
  @apply bg-white rounded border border-gray-400 h-7 pl-2 m-2 text-sm;
}
.radio-title {
  @apply text-sm;
}
.radio-toolbar input[type='radio'] {
  @apply opacity-0 fixed w-0 inline-flex;
}
.radio-toolbar label {
  @apply inline-block bg-gray-100 py-1 text-center text-xs w-40 md:w-32 border-2 border-solid border-gray-800 cursor-pointer;
}
.radio-toolbar label:hover {
  @apply bg-gray-300;
}
.radio-toolbar input[type='radio']:checked + label {
  @apply bg-gray-800 text-white;
}
.advance-select {
  @apply w-40 my-3;
}
.black-btn {
  @apply bg-gray-800 text-white w-20 m-2 my-3 py-1;
}

@tailwind utilities;

* {
  font-family: 'Noto Sans', sans-serif;
}
:root {
  font-size: 14px;
  line-height: 1.4285em;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-image: url(../../public/img/select-arrow.svg);
  background-position: 97% center;
  background-repeat: no-repeat;
}
.seatNumber {
  font-family: 'Noto Sans', sans-serif !important;
  padding-top: 2rem;
}
.heightImp100 {
  height: 100% !important;
}
.widthImp100 {
  width: 100% !important;
}

/* DeckGL Map */
#deckgl-overlay, #deckgl-wrapper {
  position: relative !important;
}
.deck-tooltip {
  background-color: white !important;
  color: black !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* NewsClick Copyright Image on map */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.mapbox-attribution-container {
  bottom: 0;
  right: 0;
  position: absolute;
  display: block;
}

/* Loading Status Animation */
.loading-container {
  display: flex;
  overflow: hidden;
  margin: auto !important;
}
.loading-spinner {
  opacity: 0.8;
  width: 10em;
  height: 10em;
  border-top: 1em solid #0d3554;
  border-right: 1em solid #c8c8c8;
  border-bottom: 1em solid #d34743;
  border-left: 1em solid #c8c8c8;
  animation: spinner 1s linear infinite;
  border-radius: 50%;
  margin: auto !important;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
